﻿@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <link href="~/Styles/bootstrap-lumen.css" rel="stylesheet" />
    <meta name="viewport" content="width=device-width" />
    <title>LoginPage</title>
</head>
<body>
    <div>
        
    </div>
</body>
</html>
